<!--How to Represents the data on HTML using {{}} method (String Interpolation) -->

<!-- <app-demo></app-demo> -->

<!-- For day 2 -->
<!-- <app-second-day></app-second-day> -->

<!-- For day 3 -->
<!-- <app-third-day></app-third-day> -->

<!-- Assignment Day -->
<!-- <app-assignment2></app-assignment2> -->

<!-- <app-assignment03></app-assignment03> -->
<!-- <app-new-component></app-new-component> -->
<!-- <app-swtich-cases></app-swtich-cases> -->

<app-image-upload></app-image-upload>


<!-- <div class="container">
    <form  [formGroup]="myForm">
        <div class="form-group">
            <label>Title:</label>
            <input class="form-control" placeholder="Enter the Title" formControlName="title">   
        </div>
        <div class="form-group">
            <label>Content:-</label>
            <textarea class="form-control" height="20" formControlName="content"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn1" type="submit" [disabled]="myForm.invalid" (click)="onSendPost()">Send Post</button>
        </div>
    </form>
    <hr>
    <div>
        <button class="btn btn-primary" (click)="onFetchPost()">Fetch Posts</button> | <button class="btn btn-primary" (click)="onDeleteAllPost()">Delete All Post</button>
    </div>
    <div class="col-xs-12 col-md-6 col-md-offset-3 resTable" *ngIf="!isLoading">
        <p *ngIf="allPost.length === 0">No posts is Available</p>
        <ul class="list-group" *ngIf="allPost.length >= 1">
            <li class="list-group-item" *ngFor="let post of allPost">
                <h2>{{post.title}}</h2>
                <p>{{post.content}}</p>
                <button class="btn btn-primary"  (click)="onDeletePost(post.id)">Delete</button>
            </li>
        </ul>
    </div>
    <div class="lds-facebook" *ngIf="isLoading"><div></div><div></div><div></div></div>
</div> -->
