<!--How to Represents the data on HTML using {{}} method (String Interpolation) -->
<div>
  <p>Hii folks!!</p>
  <p>My name is {{ name }}</p>
  <p>
    Currently i am pursuing <b>{{ course }}</b> in <b>{{ branch }}</b> from
    {{ collegeName }}.
  </p>
</div>
<!-- <app-demo></app-demo> -->

<!-- For day 2 -->
<!-- <app-second-day></app-second-day> -->

<!-- For day 3 -->
<!-- <app-third-day></app-third-day> -->

<!-- Assignment Day -->
<!-- <app-assignment2></app-assignment2> -->

<app-assignment03></app-assignment03>
