<div style="text-align: center">
  <p>Assignment - 3 Starts</p>
  <hr />
  <button class="btn btn-primary" (click)="onClick()">
    Displaying Details
  </button>
  <br />
  <p *ngIf="element % 2 === 0; else Elsewala">Secret Password = "tuna"</p>
  <ng-template #Elsewala>
    <p>Secret Password = "chuna"</p>
  </ng-template>

  <div *ngFor="let data of countLog; let i = index">
    <p [ngStyle]="{ backgroundColor: getColor(), color: gettextColor() }">
      {{ data }}
    </p>
    <p>{{ i }}</p>
  </div>
  <p>Assignment - 3 Ends</p>
</div>
